@use 'sass:math';
@use '../stylesheets/negative-value-to-n.function' as function;


/**
Apply the class like this "show-hide-animation time-[duration in ms to take]" and Optional "leave" to hide the animation
You may need to add you time to the list below
 */
$show-hide-animation-timings: (150, 300, 700); // <- add times here
.show-hide-animation {
  animation-name            : show-hide-animation-keyframes;
  animation-iteration-count : 1;
  animation-direction       : normal;
  animation-play-state      : running;

  &.leave {
    animation-direction : reverse;
  }

  @each $time in $show-hide-animation-timings {
    &.time-#{$time} {
      animation-duration : #{$time}ms;
    }
  }

  @keyframes show-hide-animation-keyframes {
    from { opacity : 0; }
    to {   opacity : 1; }
  }

  @keyframes show-hide-animation-modal-keyframes {
    from { opacity : 0; }
    to { opacity   : var(--bs-backdrop-opacity); }
  }
}


.inset-scroll-shadow-animation {
  &.none {
    box-shadow : none;
    transition: box-shadow 200ms;
  }

  &.top {
    box-shadow: inset 0 0 0.25rem -.5rem rgb(0 0 0 / 25%), inset 0 -1rem 0.25rem -1rem rgb(0 0 0 / 25%);
    transition: box-shadow 200ms;
  }

  &.middle {
    box-shadow: inset 0 1rem 0.25rem -1rem rgb(0 0 0 / 25%), inset 0 -1rem 0.25rem -1rem rgb(0 0 0 / 25%);
    transition: box-shadow 200ms;
  }

  &.bottom {
    box-shadow: inset 0 1rem 0.25rem -1rem rgb(0 0 0 / 25%), inset 0 0 0.25rem -1rem rgb(0 0 0 / 25%);
    transition: box-shadow 200ms;
  }
}
