<div class="vw-100 vh-100 d-flex align-items-stretch flex-column"
     [class.justify-content-center]="mode() === 'search'"
     [class.justify-content-start]="mode() !== 'search'">
  @if (data() === undefined) {
    <div class="display-1 text-center pb-10 fw-bold" style="letter-spacing: -.2rem;">
      V<span class="fw-bold">er</span><span class="text-body-secondary">s<span class="fw-bold ">e<span class="fw-lighter">arch</span></span></span>
    </div>
<!--    <div class="display-1 text-center pb-10 fw-light text-body-secondary" style="letter-spacing: -.2rem;">V<span class="fw-light">er</span><span class=" fw-bold">s<span class="fw-bold">e<span class="text-body fw-bold">arch</span></span></span></div>-->
  }
  <div class="w-100 d-flex align-items-center p-4">
    @if (mode() !== 'search') {
      <app-button-icon icon="bi-arrow-left" color="secondary" (click)="back()" class="pe-4"/>
    } @else if (data() !== undefined){
      <div class="text-center fw-bold h6 pe-4 clickable" style="letter-spacing: -.03rem;" (click)="resetAll()">
        V<span class="fw-bold">er</span><span class="text-body-secondary">s<span class="fw-bold ">e<span class="fw-lighter">arch</span></span></span>
      </div>
    }
    <div class="flex-grow-1">
      <app-search [mode]="mode()" (data)="onSearchData($event)"/>
    </div>
  </div>
  <div class="flex-grow-1 minw-0 w-100 px-4 overflow-auto">
    <router-outlet [routerOutletData]="data()"/>
  </div>
</div>
