@use 'sass:string';

@function str-last-index($string, $needle) {
  $index: string.index($string, $needle);
  $result: $index;

  @if $index {
    @for $i from $index + string.length($needle) through string.length($string) {
      @if string.slice($string, $i, $i + string.length($needle) - 1) == $needle {
        $result: $i;
      }
    }
  }

  @return $result;
}
