@use 'sass:math';
@use 'sass:map';
@use 'sass:color';
@import 'app/shared/stylesheets/bootstrap/variables';
@import 'app/shared/stylesheets/bootstrap/maps';
@import 'bootstrap/scss/_mixins';
@import 'app/shared/stylesheets/bootstrap/utilities';
@import 'app/shared/stylesheets/bootstrap/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'app/shared/animations/animations';
@import 'app/shared/skeleton/skeleton.component';


/**  Cursors   */

.no-select {
  user-select: none;
}

.pointer-events-none {
  pointer-events: none;
}

$cursors: ('pointer', 'default', 'progress', 'wait', 'no-drop');

@each $cursor in $cursors {
  .#{$cursor}-cursor {
    cursor: #{$cursor};
  }
}

.clickable {
  @extend .pointer-cursor;
}


/**  White Space   */

$white-spaces: ('pre', 'initial', 'pre-line', 'pre-wrap', 'nowrap', 'collapse');

@each $white-space in $white-spaces {
  .#{$white-space}-white-space {
    white-space: #{$white-space};
  }
}


:root {

  @each $shade, $value in $darknlight-palette {
    --#{$prefix}#{$shade}: #{$value};
  }

  @each $shade, $value in $gray-palette {
    --#{$prefix}#{$shade}-rgb: #{to-rgb($value)};
  }

  @each $shade, $value in $darknlight-palette {
    --#{$prefix}#{$shade}-rgb : #{to-rgb($value)};
  }
}

// Bootstrap Icons
// Adds Icon classes based on spacer sizing: i.e. 'icon-4' = 16px icon

@each $spacer, $value in $spacers {
  .icon-#{$spacer} {
    position       : relative;
    min-width      : $value;
    max-width      : $value;
    min-height     : $value;
    max-height     : $value;
    font-size      : $value;
    vertical-align : middle;
    text-align     : center;

    & i {
      position : absolute;
      top      : 0;
      left     : 0;
    }
  }
}

/* All Bootstrap Icons will be framed square with their font-size
  Just specify font-size. */
[class^="bi-"], [class*=" bi-"] {
  line-height: 1;
}

[class^="ai-"], [class*=" ai-"] {
  line-height: 1;
}


/*  Default placeholder color for browser  */
.text-placeholder, .text-placeholder::input-placeholder {
  color: var(--#{$prefix}input-placeholder-color);
}

.text-placeholder::placeholder {
  color: var(--#{$prefix}input-placeholder-color);
}

.title {
  font-family: "Sora", sans-serif;
  @extend .fst-italic;
  @extend .fw-normal;
}

.author {
  font-family: "Sora", sans-serif;
  @extend .fw-light;
}

.poem {
  padding-left: 1.5em;
  font-family: "Libre Baskerville", serif;
  text-indent: -1.5em;
}

