@use 'sass:math';
@use 'sass:map';
@use 'sass:color';
@import 'app/shared/stylesheets/bootstrap/variables';
@import 'app/shared/stylesheets/bootstrap/maps';
@import 'bootstrap/scss/_mixins';
@import 'app/shared/stylesheets/bootstrap/utilities';
@import 'app/shared/stylesheets/bootstrap/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'app/shared/animations/animations';
@import 'app/shared/skeleton/skeleton.component';
@import 'app/shared/stylesheets/dropdown-max-height';


/**  Cursors   */

.no-select {
  user-select: none;
}

.pointer-events-none {
  pointer-events: none;
}

$cursors: ('pointer', 'default', 'progress', 'wait', 'no-drop');

@each $cursor in $cursors {
  .#{$cursor}-cursor {
    cursor: #{$cursor};
  }
}

.clickable {
  @extend .pointer-cursor;
}


/**  White Space   */

$white-spaces: ('pre', 'initial', 'pre-line', 'pre-wrap', 'nowrap', 'collapse');

@each $white-space in $white-spaces {
  .#{$white-space}-white-space {
    white-space: #{$white-space};
  }
}

@each $palette, $palette-map in $nt-colors {

  @each $color, $value in $palette-map {
    .text-#{$color} {
      color: var(--#{$prefix}#{$color}) !important;
    }
    .bg-#{$color} {
      background: var(--#{$prefix}#{$color}) !important;
    }
  }
}

:root {
  @each $shade, $value in $gray-palette {
    --#{$prefix}#{$shade}: #{$value};
  }

  @each $shade, $value in $primary-palette {
    --#{$prefix}#{$shade}: #{$value};
  }

  @each $shade, $value in $success-palette {
    --#{$prefix}#{$shade}: #{$value};
  }

  @each $shade, $value in $gray-palette {
    --#{$prefix}#{$shade}-rgb: #{to-rgb($value)};
  }

  @each $shade, $value in $primary-palette {
    --#{$prefix}#{$shade}-rgb: #{to-rgb($value)};
  }

  @each $shade, $value in $success-palette {
    --#{$prefix}#{$shade}-rgb : #{to-rgb($value)};
  }
}

// Bootstrap Icons
// Adds Icon classes based on spacer sizing: i.e. 'icon-4' = 16px icon

@each $spacer, $value in $spacers {
  .icon-#{$spacer} {
    position       : relative;
    min-width      : $value;
    max-width      : $value;
    min-height     : $value;
    max-height     : $value;
    font-size      : $value;
    vertical-align : middle;
    text-align     : center;

    & i {
      position : absolute;
      top      : 0;
      left     : 0;
    }
  }
}

/* All Bootstrap Icons will be framed square with their font-size
  Just specify font-size. */
[class^="bi-"], [class*=" bi-"] {
  line-height: 1;
}

[class^="ai-"], [class*=" ai-"] {
  line-height: 1;
}


/*  Default placeholder color for browser  */
.text-placeholder, .text-placeholder::input-placeholder {
  color: var(--#{$prefix}input-placeholder-color);
}

.text-placeholder::placeholder {
  color: var(--#{$prefix}input-placeholder-color);
}

.title {
  font-family: "Sora", sans-serif;
  @extend .fst-italic;
  @extend .fw-normal;
}

.author {
  font-family: "Sora", sans-serif;
  @extend .fw-light;
}

.poem {
  font-family: "Libre Baskerville", serif;
}

.small-caps {
  font-size: 80%;
  text-transform: uppercase;
}

.text-prewrap {
  white-space: pre-wrap;
}


/* Adds additional heading-7 class that matches small font size */
h7, .h7 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}
//
// /* Adds a heading-bold class and html tag for each heading class */
// h1-bold, h2-bold, h3-bold, h4-bold, h5-bold, h6-bold, h7-bold,
// .h1-bold, .h2-bold, .h3-bold, .h4-bold, .h5-bold, .h6-bold, .h7-bold {
//   margin-bottom: $headings-margin-bottom;
//   font-family: $headings-font-family;
//   font-weight: $headings-bold-font-weight;
//   line-height: $headings-line-height;
//   color: $headings-color;
// }
//
// h1-bold, .h1-bold { @include font-size($h1-font-size); }
// h2-bold, .h2-bold { @include font-size($h2-font-size); }
// h3-bold, .h3-bold { @include font-size($h3-font-size); }
// h4-bold, .h4-bold { @include font-size($h4-font-size); }
// h5-bold, .h5-bold { @include font-size($h5-font-size); }
// h6-bold, .h6-bold { @include font-size($h6-font-size); }
h7, .h7 { @include font-size($h7-font-size); }
// h7-bold, .h7-bold { @include font-size($h7-font-size); }

// h1-important, .h1-important { @include font-size($h1-font-size); & { font-weight: $headings-font-weight; } }
// h2-important, .h2-important { @include font-size($h2-font-size); & { font-weight: $headings-font-weight; } }
// h3-important, .h3-important { @include font-size($h3-font-size); & { font-weight: $headings-font-weight; } }
// h4-important, .h4-important { @include font-size($h4-font-size); & { font-weight: $headings-font-weight; } }
// h5-important, .h5-important { @include font-size($h5-font-size); & { font-weight: $headings-font-weight; } }
// h6-important, .h6-important { @include font-size($h6-font-size); & { font-weight: $headings-font-weight; } }
// h7-important, .h7-important { @include font-size($h7-font-size); & { font-weight: $headings-font-weight; } }


/* Adds a smaller font class and smaller html tag */
smaller,
.smaller {
  @include font-size($smaller-font-size);

  font-weight: $font-weight-normal;
}


/* Adds Text-Shadow classes for all box-shadows (sm, md, lg, etc)
    Increases opaqueness for each. */

@each $key, $value in $box-shadows {
  .text-#{$key} {
    text-shadow: darken-shadow($value, .2);
  }
}
@include color-mode(dark) {

  @each $key, $value in $box-shadows-dark {
    .text-#{$key} {
      text-shadow: darken-shadow($value, .2);
    }
  }
}

.highlight {
  background: color.adjust($warning, $alpha: -0.6);
}
@include color-mode(dark) {
  .highlight {
    background: color.adjust($warning, $alpha: -0.55);
  }
}
