<div>
  <form>
    <input class="form-control"
           [ngbTypeahead]="typeahead"
           [resultTemplate]="resultTpl"
           [inputFormatter]="(result) => result.name ?? result.title"
           (focus)="focus$.next($any($event.target).value)"
           (selectItem)="$event.item.kind === 'skeleton' ? $event.preventDefault() : null"/>
    <ng-template #resultTpl let-result="result" let-term="term">
      <div class="typeahead-item" [attr.data-section]="result?.sectionLabel ?? null">
        @if (result.sectionLabel) {
          <div class="typeahead-section-shield" (click)="$event.stopPropagation()"></div>
        }
        @if (isSkeleton(result)) {
          <div class="d-flex gap-2 pb-2">
            <app-skeleton width="100px" height="1.25rem"/>
            <app-skeleton width="70px" height="1.25rem"/>
            <app-skeleton width="150px" height="1.25rem"/>
          </div>
          <div class="d-flex gap-2">
            <app-skeleton width="80px" height=".85rem"/>
            <app-skeleton width="125px" height=".85rem"/>
          </div>
        } @else if (isAuthor(result)) {
          <i class="bi bi-person-fill me-2"></i><ngb-highlight [result]="result.name" [term]="term" />
        } @else if (isTitle(result)) {
          <div style="max-width: 328px" class="d-inline-block text-truncate"><ngb-highlight [result]="result.title" [term]="term" /></div>
          <div class="small text-body-secondary fst-italic">{{ result.author }}</div>
        }
      </div>
    </ng-template>
  </form>
</div>
